<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= select(:pet, :gender, ["Male", "Female"]) %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :personality %><br />
    <%= f.text_field :personality %>
  <div class="field">
    <%= f.label :animal %><br />
    <%= select(:pet, :animal_id, Animal.all.collect {|a| [a.genus + " " + a.species, a.id ]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
