<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pet.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @pet.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @pet.age %>
</p>

<p>
  <b>Personality:</b>
  <%= @pet.personality %>
<p>
  <b>Animal:</b>
  <%= @pet.animal %>
</p>

<p>
  <b>User:</b>
  <%= @pet.user %>
</p>

<p>
  <b>Likes:</b>
  <%= @pet.likes %>
</p>
<p>
  <b>Dislikes:</b>
  <%= @pet.dislikes %>
</p>  
<p>
    <b>Hobbies:</b>
    <%= @pet.hobbies %>
  </p>
<% if @pet.user == current_user %>
<%= link_to 'Edit', edit_pet_path(@pet) %> |
<% end %>
<%= link_to 'Back', pets_path %>
