<h1>Listing notifications</h1>

<table>
  <tr>
    <th>Contents</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Time</th>
    <th>Read</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notifications.each do |notification| %>
  <tr <% if not notification.read %> class="unread" <% end %>>
    <td><%= notification.contents %></td>
    <td><%= link_to(notification.source.name, pet_path(notification.source)) %> (<%= link_to(notification.source.user.username, user_path(notification.source.user))%>)</td>
    <td><%= link_to(notification.destination.name, pet_path(notification.destination)) %></td>
    <td><%= notification.time %></td>
    <td><%= notification.read %></td>
    <td><%= link_to 'Show', notification %></td>
    <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
    <td><%= link_to 'Destroy', notification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notification', new_notification_path %>
