<p id="notice"><%= notice %></p>

<p>
  <%= @notification.contents %>
</p>

<p>
  <b>Source:</b>
  <%= link_to(@notification.source.name, pet_path(@notification.source)) %>
</p>

<p>
  <b>Destination:</b>
  <%= link_to(@notification.destination.name, pet_path(@notification.destination)) %>
</p>

<p>
  <b>Time:</b>
  <%= @notification.time.localtime %>
</p>

<p>
  <b>Read:</b>
  <%= @notification.read %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
